@font-face {
    font-family: 'Bungee-Regular';
    src: url("fonts/bungee/Bungee-Regular.otf");
	/*src: url("fonts/bungee/Bungee-Regular.ttf");*/
}
@font-face {
    font-family: 'Bungee-Shade';
    src: url("fonts/bungee/Bungee-Outline.otf");
}

@font-face {
    font-family: 'Bungee-Inline';
    src: url("fonts/bungee/Bungee-Outline.otf");
}

@font-face {
    font-family: 'BungeeLayers-Regular';
    src: url("fonts/bungee/Bungee-Outline.otf");
}
@font-face {
    font-family: 'Bungee-Outline';
    src: url("fonts/bungee/Bungee-Outline.otf");
}
@font-face {
    font-family: 'BungeeColor-Regular';
    src: url("fonts/bungee/BungeeColor-Regular.ttf");
}

@font-face {
    font-family: 'Lato-Regular';
    src: url("fonts/lato/Lato-Regular.ttf");	
}

@font-face {
    font-family: 'Lato-Bold';
    src: url("fonts/lato/Lato-Bold.ttf");	
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("fonts/Roboto/Roboto-Regular.ttf");	
}


@font-face {
    font-family: 'Roboto-Light';
    src: url("fonts/Roboto/Roboto-Light.ttf");	
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf");	
}

* {
    padding: 0;
    margin: 0;
}

html, body {
 max-width: 100%;
overflow-x: hidden;
}

body{
	font-family: 'Bungee-Regular';
	font-size:16px;	
	 margin: 0;
}

.main-container{
	position: relative;
	/*min-height: 100vh;*/
}	
 .background_bg {      	 
	 /*background: url("../images/bg.png") center center;*/
	  background: url("../images/desktop_bg.png") center center;
	background-repeat: no-repeat;		
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: 100% 100%;
}

	
.content-section .main-title{
	 font-family: 'Bungee-Regular';
	font-size: 2.125rem;
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #DE9019 51%, #DE9019 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019); 
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);	
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.9px;
  -webkit-text-stroke-color: black;  
	position:relative;
	top: 1.5rem;
	letter-spacing: -1px;
 }
 
 .content-section .sub-title{
	 font-family: 'Bungee-Regular';
	font-size: 1.25rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	position:relative;
	top: 1.5rem;
	letter-spacing: -1px;
}

 .content-section .play-btn-custom{
	position: relative;
	top: 2.5rem;
 }

.content-scratch-section .main-title{
	 font-family: 'Bungee-Regular';
	font-size: 34px;
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #DE9019 51%, #DE9019 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);        
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;    
 }
 .content-scratch-section .sub-title{
	 font-family: 'Bungee-Regular';
	font-size: 20px;
	 -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
}

 .content-won-section .main-title{
	  display:inline; 
    white-space: pre-line; 
    position: relative;   
 }	 

 .content-won-section .main-title span{
	 font-family: 'Bungee-Regular';	
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019); 
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);	
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black; 
  /*position:relative;
	top: 1rem;*/
	letter-spacing: -1px;	
	line-height: 55px;	
 }

.content-won-section .won-lbl {
	font-size: 3.5rem;
}	
	
 .content-won-section .money-symbol{
	 font-family: 'Bungee-Regular';
	font-size: 5.5rem;
	position: relative;
	top: 0.8rem;
 }


.content-won-section  .sub-title{
	 font-family: 'Roboto-Bold';
	font-size: 1.375rem;
	 -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
  position: relative;
	top: 0.5rem;
}

.content-won-section .chance-to-win-text{
	 font-family: 'Bungee-Regular';	
	 font-size: 1.125rem;
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);        
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black; 
	position:relative;
	top: 2.5rem;
}

.content-won-section .monthly-draw-btn {
	 font-size: 1.3rem;
	  padding: 0.6rem 2.5rem;
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;	
	font-family: 'Bungee-Regular';  
	/*-webkit-background-clip: text;*/
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black; 
	position: relative;
  top: 2.4rem;
}


 .content-lose-section .chance-to-win-text{
	 font-family: 'Bungee-Regular';	
	 font-size: 1.125rem;
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);        
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;   
}

.content-section{
	margin-bottom:4.5rem;  
}

.content-scratch-section{
	margin-bottom:4.5rem;  
}

.content-won-section{
	margin-bottom: 6rem;
	background: url("../images/confetti.png") top center;
    background-repeat: repeat;
   background-repeat: no-repeat;	
}	


.content-lose-section{
	margin-bottom:4.5rem;		
}

#footer {	
	padding-bottom:1.5rem;	
	/*position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; */ 
}

#footer p{
	 font-family: 'Bungee-Regular';	
	font-size: 0.75rem;
  color: #084D36 !important;
}

#footer img{
	width : 3.75rem;
}	


.col-unpadded{
	padding-left:0px;
	padding-right:0px;
}

.play-btn-custom {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;
	padding: 0.375rem 2.5rem;
}

.proceed-btn-custom {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;
	padding: 0.475rem 2.5rem;
}


 .content-lose-section .monthly-draw-btn {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;	
	font-family: 'Bungee-Regular';  
	/*-webkit-background-clip: text;*/
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;  
}


.play-btn-custom:hover,  .proceed-btn-custom:hover, .content-won-section .monthly-draw-btn:hover, .content-emailOpt-section .btn-emailopt:hover{  
  background-color: #0993d2;
  border-color: #0993d2;
}  

.play-btn-custom span,  .proceed-btn-custom span{
	font-family: 'Bungee-Regular';
  font-size: 25px;
-webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

/*Navbarlinks css */
.navbar-nav .nav-link, .navbar-nav .nav-link.active{
  color: #084D36;
  font-family: 'Lato-Bold'; 
  font-size: 17px;	
}	

.navbar  .navbar-text .email-lbl {
  color: #084D36;
  font-family: 'Lato-Regular'; 
  font-size: 14px;
  margin-bottom:0;
}

.navbar  .navbar-text .email-add{
	color: #084D36;
  font-family: 'Lato-Bold'; 
  font-size: 14px;
}
	
.navbar-toggler:focus {
	box-shadow: unset;
}
  
  .navbar-custom  {	 
	  --bs-navbar-brand-padding-y: 0 !important;
	  --bs-navbar-padding-y: 0 !important;
	  background-color:#FDFDFD !important;
  }
	  
	#navbarText{
		align-items: unset;
	}	


.reeking-cartoon-space{
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}


.content-emailOpt-section .card-emilform{
	background:transparent;
	--bs-card-border-width: unset;
	width: 20rem;
}

 .content-lose-section .main-title {
	   display:inline; 
    white-space: pre-line; 
    position: relative;    
 }	 
 .content-lose-section .main-title span{
	font-family: 'Bungee-Regular';
	font-size: 3rem;
	background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #DE9019 51%, #DE9019 100%);
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
    background-clip: border-box;
	background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; 
    line-height: 55px;
}

 .content-lose-section .sub-title  {
 font-family: 'Roboto-Bold';
  font-size: 1.375rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
  padding-top:2rem;
}


/*Media query css starts*/
@media only screen and (max-width: 373px){
	.content-section .main-title{
		font-size: 29px;
	}
	.content-section .sub-title{
		font-size: 17px;
	}
	
	.content-scratch-section .main-title{
		font-size: 29px;
	}
	.content-scratch-section .sub-title{
		font-size: 17px;
	}
	
	.content-won-section  .sub-title{	
		font-size: 1.2rem;	
		-webkit-text-stroke-width: 1.2px;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.12rem;
	}	
	
	.content-won-section .monthly-draw-btn{
		font-size: 0.89rem;
		padding: 0.6rem 2.5rem;
	}	
		
}

@media (max-width:390px) {
	.content-section  .main-title{
		font-size: 30px;
	}
	.content-section  .sub-title{	
	font-size: 20px;
	}
	
	.content-won-section  .sub-title{	
		font-size: 1.3rem;	
		-webkit-text-stroke-width: 1.3px;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.12rem;
	}

	
	.content-won-section .monthly-draw-btn{
		font-size: 1rem;
		padding: 0.6rem 2rem;
	}	
 
	.content-scratch-section  .main-title{
		font-size: 30px;
	}
	.content-scratch-section  .sub-title{	
	font-size: 20px;
	}
	
	.play-btn-custom {	
		padding: 0.8rem 3.5rem;
	}  

	.play-btn-custom span {
		font-family: 'Bungee-Regular';
	  font-size: 23px;
	}	
	
}


/*@media only screen and (min-width: 412px){
	.coin-img{
		width: 32rem;
	}	
	
}*/

@media (max-width: 576px) {

.content-won-section .monthly-draw-btn{
		font-size: 1.04rem;
		padding: 0.6rem 2.2rem;
	}	

}

@media only screen and (max-width: 767px) {
	.proceed-btn-custom span {
		font-size: 18px;
	}

	 .background_bg {      	 
		 /*background: url("../images/bg.png") center center;*/
		  background: url("../images/device_bg.jpg") center center;
		background-repeat: no-repeat;		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}
	
}

@media only screen and (min-width: 768px) {
	  /*.navbar .navbar-nav .nav-item .nav-link,  .navbar-text {
		padding: 1.5rem 2rem;
	  }	 
		.navbar .navbar-nav .nav-item .nav-link {
		border-right: 1px solid #CBCBCB;
	  }*/
  
	  .navbar-brand img {
		  width: 10rem;
	  }
	  
	  .navbar-nav .nav-link, .navbar-nav .nav-link.active {
		  font-size:14px;
	  }

		.navbar .navbar-text .email-lbl, .navbar .navbar-text .email-add{
			 font-size:13px;
		}


		#footer p {
		  font-family: 'Bungee-Regular';
		  font-size: 1.3rem;
		  color: #084D36 !important;
		}

		#footer img {
			width: 8rem;	
		}

		.content-section .main-title{	
			 font-size: 2.5rem;
			 -webkit-text-stroke-width: 1.9px;
		}
		
		.content-section .sub-title{	
			 font-size: 1.6rem;
			 -webkit-text-stroke-width: 1.6px;
		}
		
		.content-scratch-section .main-title{	
			 font-size: 2.5rem;
			 -webkit-text-stroke-width: 1.5px;
		}
		
		.content-scratch-section .sub-title{	
			 font-size: 1.5rem;
			 -webkit-text-stroke-width: 1.4px;
		}
		
		/*.content-won-section .main-title {
			 font-size: 3.5rem;
			 -webkit-text-stroke-width: 2px;
		}
		
		.content-won-section .money-title {
			font-size: 5rem;
		}*/

		.content-won-section .sub-title {
			font-size: 1.5rem;
			 -webkit-text-stroke-width: 1.3px;
		}	
			
		  
	  .content-won-section .chance-to-win-text, .content-lose-section .chance-to-win-text{	
		font-size: 1.4rem;
		-webkit-text-stroke-width: 1.3px;	
	}


	.content-won-section .monthly-draw-btn, .content-lose-section .monthly-draw-btn {
	   font-size: 1.3rem;
	  padding: 0.6rem 2.5rem;
	}

		
	.content-emailOpt-section .main-title{	
		  font-family: 'Bungee-Regular';
		  font-size: 2rem;
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
			background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: black;
	  }
	  
	  .content-emailOpt-section .score-no{	  
		font-family: 'Bungee-Regular';
		  font-size: 2rem;
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
			background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: black;
		  line-height: 2rem;
	  }
	  
	  .content-emailOpt-section .emailme-text {
		  font-size: 1.5rem;
			-webkit-text-stroke-width: 1.2px;
		  font-family: 'Bungee-Regular';
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
			background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: black;
		}
		
		.content-emailOpt-section .btn-emailopt {
			background-color: #0993d2; 
			--bs-btn-active-bg: #0993d2;
		  --bs-btn-active-border-color: #0993d2;
		  --bs-btn-border-color: #0993d2;
			padding: 0.5rem 2.5rem;
			font-family: 'Bungee-Regular';
			  font-size: 1.2rem;
			/*-webkit-background-clip: text;*/
			  -webkit-text-fill-color: white;
			  -webkit-text-stroke-width: 1.2px;
			  -webkit-text-stroke-color: black;
		}

		.content-emailOpt-section .disclaimer-title {
			font-family: 'Roboto-Regular';
			  font-size: 0.889rem;
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: white;
			  -webkit-text-stroke-width: 0.69px;
			  -webkit-text-stroke-color: black;
			  padding-top:2rem;
			}
			
			.content-emailOpt-section .card-emilform {
				width: 24rem;
			}	
			
			.content-emailOpt-section{
				margin-bottom:4.5rem;
			}
			
			.content-emailOpt-section .emailText{
				color: #A6A6A5;
				font-size: 15px;
				font-family: 'Roboto-Regular';
				padding: 0.8rem 0.75rem;				
			}		
	
}	

@media only screen and (max-width: 991px) {
	#navbarText{
		border-top: 1px solid #ccc;
		margin-top: 0.5rem;
	}
	.navbar-toggler-icon {
		background-image: url("../images/custom_toggle_icon.png");
	}
	.navbar-toggler {
		border:transparent !important;
	}

	
	/*.navbar .navbar-nav{
		margin-top: 1.5rem !important;
	}*/	
	
	.navbar .navbar-nav .nav-item .nav-link{
			padding: 1rem 0.8rem;
	}
  /*.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {*/
	.navbar .navbar-nav .nav-item  {
		border-bottom: 1px solid #CBCBCB;
		justify-content: flex-start !important;
  }
  
    .navbar-custom  {	 
	  --bs-navbar-brand-padding-y: 0.3125rem !important;
	  --bs-navbar-padding-y: 0.5rem !important;
  }
  
  
	  .navbar  .navbar-text .email-lbl {
	  margin-bottom:0;
	  margin-top:1rem;
	  margin-left: 0.8rem;
	}

	.navbar  .navbar-text .email-add{	
		margin-bottom:0.8rem !important;	
		margin-left: 0.8rem;
	}
  
	.navbar-brand img {
		width: 9rem;
  }
  
	/* .background_bg {  
	
		background: url("../images/device_bg.jpg") center center;
		background-repeat: no-repeat;		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}*/
	
	.reeking-cartoon-space{
		padding-top: 3rem;
		padding-bottom: 0rem;
		
	}
	
	.content-emailOpt-section .main-title{	
		  font-family: 'Bungee-Regular';
		  font-size: 1.2rem;
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #DE9019 51%, #DE9019 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
		  background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: black;
	  }
	  
	  .content-emailOpt-section .score-no{	  
		font-family: 'Bungee-Regular';
		  font-size: 1.9rem;
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
			background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1.3px;
		  -webkit-text-stroke-color: black;
		  line-height: 2rem;
	  }
	  
	  .content-emailOpt-section .emailme-text {
		  font-size: 1.2rem;
			-webkit-text-stroke-width: 1.2px;
		  font-family: 'Bungee-Regular';
		  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
		  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
			background-clip: border-box;
		  background-clip: border-box;
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;
		  -webkit-text-stroke-width: 1px;
		  -webkit-text-stroke-color: black;
		}
		
		.content-emailOpt-section .btn-emailopt {
			background-color: #0993d2; 
			--bs-btn-active-bg: #0993d2;
		  --bs-btn-active-border-color: #0993d2;
		  --bs-btn-border-color: #0993d2;
			padding: 0.5rem 2.5rem;
			font-family: 'Bungee-Regular';
			  font-size: 1.2rem;
			/*-webkit-background-clip: text;*/
			  -webkit-text-fill-color: white;
			  -webkit-text-stroke-width: 1.2px;
			  -webkit-text-stroke-color: black;
		}

		.content-emailOpt-section .disclaimer-title {
			font-family: 'Roboto-Regular';
			  font-size: 0.889rem;
			  -webkit-background-clip: text;
			  -webkit-text-fill-color: white;
			  -webkit-text-stroke-width: 0.69px;
			  -webkit-text-stroke-color: black;
			  padding-top:2rem;
			}
			
			.content-emailOpt-section{
				margin-bottom:4.5rem;
			}

			.content-emailOpt-section .emailText{
				color: #A6A6A5;
				  font-size: 15px;
				  font-family: 'Roboto-Regular';
				  padding: 0.5rem 0.75rem;
			}
}

@media screen and (min-width: 992px){
  .navbar .navbar-nav .nav-item .nav-link,  .navbar-text {
		padding: 1.5rem 2rem;
	  }	 
		.navbar .navbar-nav .nav-item .nav-link {
		border-right: 1px solid #CBCBCB;
	  }
}

@media screen and (min-width: 1200px){
	/*Navigation menu css */
	  .navbar .navbar-nav .nav-item .nav-link,  .navbar-text {
			padding: 1.8rem 2.5rem;
	  }
	   .navbar-brand img {
		  width: 12rem;
	  }
	  
	   .navbar-nav .nav-link, .navbar-nav .nav-link.active {
		  font-size:17px;
	  }

	.navbar .navbar-text .email-lbl, .navbar .navbar-text .email-add{
		font-size:14px;
	}
	/*Navigation menu css ends */
}