* {
    padding: 0;
    margin: 0;
}


#page-container{
	background-color: #FFF;
}

.btn-login{
	--bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.375rem;
}

.form-control.form-control-alt:focus {
  border-color: #dde2e9;
  background-color: #dde2e9;
}

.text-danger{
	font-size:0.85rem;	
}

#page-container.page-header-fixed #main-container {
  padding-top: 2rem;
}


.content .block{
	box-shadow:unset !important;
}

.block-content-custom{
	padding: 1.25rem 0rem 1px;
}

.dataTables_filter, .dataTables_length {
   display: none;
}


.exportdata-table thead th, .auditreportdata-table thead th, .monthlydrawWinners-table thead th {
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: .0625em;
  background: #d4d6da;
  white-space: nowrap;
    padding: .35rem .75rem;
}


.width-90-px{
	min-width: 90px;
}

/* Datatable pagination css starts here*/
.paginate_button {
    font-weight: 600 !important;
    border-width: 0  !important;
    border-radius: 0 !important;	
	padding: 0.375rem 0.75em !important;	
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #2356d7 !important;
  border-width: 0 !important;
    border-radius: 0!important;
	 border-color: #2356d7 !important;
	 background: unset;  
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #2356d7 !important;
    background-color: transparent !important;
	background: transparent !important;
    border-color: #2356d7 !important;
	font-weight: 600 !important;
    border-width: 0 !important;
    border-radius: 0!important;
}


.dataTables_paginate:not(:first-child) .paginate_button {
    margin-left: 0.25rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
border: 1px solid transparent !important;
}	

.fa, .fas {
  font-family: "Font Awesome 6 Free";
}	

/*Scrollbar (horizontal & vertical) background color change */
::-webkit-scrollbar-thumb:horizontal {
 background: linear-gradient(225deg, #2356d7 0%, #2356d7 100%) !important; 
 border: 4px solid #B8CEE9 !important;
border-radius: 30px !important;  
}	

::-webkit-scrollbar-thumb:vertical {
 background: linear-gradient(225deg, #787878 0%, #787878 100%) !important; 
 border: 4px solid #F1F1F1 !important;
border-radius: 30px !important;  
}	


::-webkit-scrollbar-corner {
	background: #2356d7 !important; 
}

::-webkit-scrollbar-track:horizontal {
	 background: #B8CEE9 !important; 
}	

::-webkit-scrollbar-track:vertical {
	 background: #F1F1F1 !important; 
}	


/*Sort arrows css*/
.dataTables_scrollHeadInner > table > thead > tr > th {
		white-space:nowrap !important;
	}

	
	table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
		padding: .75rem .75rem;
		border-bottom: 0 !important;
		
	}
		
		
	table.dataTable > thead > tr > td {
		padding: 15px 10px;
		font-size: 0.9rem;
	}
	table.dataTable tbody th, table.dataTable tbody td {
		padding: 15px 10px;
		font-size: 0.9rem;
	}


table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc {
  padding-right: 1.25rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
	position: absolute;
  right: 0.375rem !important;
  bottom: 0.75rem;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 600;
  opacity: 0.4 !important;
}
table.dataTable thead .sorting:after {
  content: "\f0dc" !important;
}
table.dataTable thead .sorting_asc:after {
  content: "\f106"  !important;
}
table.dataTable thead .sorting_desc:after {
  content: "\f107" !important;
}

table.dataTable thead > tr > th.sorting::before, table.dataTable thead > tr > th.sorting_asc::before{
	content: "" !important;	
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
	margin-top: -0.25rem  !important; 
	position: absolute;
  display: block;
  opacity: .125;
  right: 10px;
  line-height: 9px;
  font-size: .8em;
}

table.dataTable .sortarrows-top-align.sorting::after, table.dataTable .sortarrows-top-align.sorting_asc::after
{
	top: 76%;
}	

/*Sort arrows css*/	

.exportdataSection .searchbox {
	font-size: 0.875rem !important;	
}	

a.bg-white:focus, a.bg-white:hover, button.bg-white:focus, button.bg-white:hover {
	background-color: #fff !important;
	color: #000 !important;
}

.exportdataSection .searchbox .btn:hover {
	color: #000 !important;
}

 .dashboard-content .icon {
    text-decoration: none;
    text-size: 1em;
     display: inline;
	margin: 0 0 0.7rem 0;
    padding: 0.1rem 1rem 0 1.5rem;
    position: relative;
    vertical-align: baseline;
    height: 0.5em;
    width: 28%;
}

 .dashboard-content .icon:before {
   
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    background: #fff;
    border-radius: 100%;
   
    display: inline-block;
    height:1.5em;
    left: 0;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.5em;
}

.dashboard-content{
	padding: 0 1.875rem 1.5rem;
}

 .dashboard-content .WinImg,  .dashboard-content .LoseImg  {
    text-decoration: none;
    text-size: 1em;
     display: inline;	
	 margin: 0 0 0.7rem 0;
    padding: 0.1rem 0.2rem 0 0.4rem;
    position: relative;
    vertical-align: top;	   
}

 .dashboard-content .WinImg{
	width: 38px; 
}
 .dashboard-content .LoseImg{
	width: 30px; 
}	
