@font-face {
    font-family: 'Bungee-Regular';
    src: url("fonts/bungee/Bungee-Regular.otf");
	/*src: url("fonts/bungee/Bungee-Regular.ttf");*/
}
@font-face {
    font-family: 'Bungee-Shade';
    src: url("fonts/bungee/Bungee-Outline.otf");
}

@font-face {
    font-family: 'Bungee-Inline';
    src: url("fonts/bungee/Bungee-Outline.otf");
}

@font-face {
    font-family: 'BungeeLayers-Regular';
    src: url("fonts/bungee/Bungee-Outline.otf");
}
@font-face {
    font-family: 'Bungee-Outline';
    src: url("fonts/bungee/Bungee-Outline.otf");
}
@font-face {
    font-family: 'BungeeColor-Regular';
    src: url("fonts/bungee/BungeeColor-Regular.ttf");
}

@font-face {
    font-family: 'Lato-Regular';
    src: url("fonts/lato/Lato-Regular.ttf");	
}

@font-face {
    font-family: 'Lato-Bold';
    src: url("fonts/lato/Lato-Bold.ttf");	
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("fonts/Roboto/Roboto-Regular.ttf");	
}


@font-face {
    font-family: 'Roboto-Light';
    src: url("fonts/Roboto/Roboto-Light.ttf");	
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("fonts/Roboto/Roboto-Bold.ttf");	
}

* {
    padding: 0;
    margin: 0;
}

html, body {
 max-width: 100%;
overflow-x: hidden;
}

body{
	font-family: 'Bungee-Regular';
	font-size:16px;	
	 margin: 0;
}

.main-container{
	margin-top: 3.2rem;	
}

 .background_bg {      	 
		background: url("../images/desktop_bg.png") center;
		background-repeat: no-repeat;	
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}	
	
.content-section .main-title{
	 font-family: 'Bungee-Regular';
	font-size: 2.125rem;
	/*background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #DE9019 51%, #DE9019 100%);*/
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019); 
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.9px;
  -webkit-text-stroke-color: black;  
	position:relative;
	top: 1rem;
	letter-spacing: -3px;
    word-spacing: 1px;
 }
 
 .content-section .sub-title{
	 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	position:relative;
	top: 1.5rem;
	 letter-spacing: -2px;
    word-spacing: 1px;
}

 .content-section .play-btn-custom{
	position: relative;
	top: 2.5rem;
 }

.content-scratch-section .main-title{
	 font-family: 'Bungee-Regular';
	font-size: 36px;	
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019); 
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);	      
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: black;
	letter-spacing: -2px;
	word-spacing: -2px;
 }
 
 .content-scratch-section .sub-title{
	 font-family: 'Bungee-Regular';
	font-size: 23px;
	 -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: black;
  letter-spacing: -2px;
  word-spacing: 1px;
  padding-bottom: 0.4rem;
}

.content-scratch-section  .hide{
	display:none !important;
}

 .content-won-section .main-title{
	  display:inline; 
    white-space: pre-line; 
    position: relative;   
 }	 

 .content-won-section .main-title span{
	 font-family: 'Bungee-Regular';		
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019); 
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);	
	background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
    background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;  
	letter-spacing: -4px;	
	line-height: 55px;	
	word-spacing: -1px;
	
 }

.content-won-section .won-lbl {
	font-size: 3.8rem;
}	
	
 .content-won-section .money-symbol{
	 font-family: 'Bungee-Regular';
	font-size: 5.8rem;
	position: relative;
	top: 0.9rem;
 }


.content-won-section  .sub-title{
	 font-family: 'Roboto-Bold';
	font-size: 1.375rem;
	 -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
 text-shadow: -1px -1px black, -1px 1px #000,-1px -1px black, -1px -1px black;
  position: relative;
	top: 0.5rem;
}

.content-won-section .chance-to-win-text{
	font-family: 'Bungee-Regular';
  color:#fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;
  letter-spacing: -1px;  
	word-spacing: 1px;	
	position:relative;
	top: 2.5rem;	
}

.content-won-section .monthly-draw-btn {
	 font-size: 1.3rem;
	  padding: 0.6rem 2.5rem;
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;	
	font-family: 'Bungee-Regular';  
	/*-webkit-background-clip: text;*/
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black; 
	position: relative;
  top: 2.4rem;
     letter-spacing: -1px;
}


 .content-lose-section .chance-to-win-text{
	font-family: 'Bungee-Regular';
  color:#fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: black;
  letter-spacing: -1px;  
	word-spacing: 1px;		
}

.content-section{
	margin-bottom:4.5rem;  
}

.content-scratch-section{
	padding-bottom:5rem; 
}

.content-won-section{
	margin-bottom: 3rem;
	background: url("../images/confetti-lg.png") top center;
    background-repeat: repeat;
   background-repeat: no-repeat;
	padding-bottom: 3rem;
	background-size: 100% auto;		
}

.content-lose-section{	
	padding-bottom:3.5rem;	
}

#footer {	
	padding-bottom:1.5rem;		
}

#footer p{
	 font-family: 'Bungee-Regular';	
	font-size: 0.75rem;
  color: #084D36 !important;
}

#footer img{
	width : 3.75rem;
}	


.col-unpadded{
	padding-left:0px;
	padding-right:0px;
}

.play-btn-custom {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;
	padding: 0.375rem 2.5rem;
}

.proceed-btn-custom {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;
	padding: 0.475rem 2.5rem;
}


 .content-lose-section .monthly-draw-btn {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;	
	font-family: 'Bungee-Regular'; 
	 font-size: 1.3rem;
	  padding: 0.6rem 2.5rem;	
	/*-webkit-background-clip: text;*/
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
     letter-spacing: -1px;
}


.play-btn-custom:hover,  .proceed-btn-custom:hover, .content-won-section .monthly-draw-btn:hover, .content-emailOpt-section .btn-emailopt:hover, 
.content-play-manual .submitQRCode:hover, .content-monthly-draw-result .submitQRCode:hover{  
  background-color: #0993d2;
  border-color: #0993d2;
}  

.play-btn-custom span,  .proceed-btn-custom span{
	font-family: 'Bungee-Regular';
  font-size: 25px;
-webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;
}

/*Navbarlinks css */
.navbar-nav .nav-link, .navbar-nav .nav-link.active{
  color: #084D36;
  font-family: 'Lato-Bold'; 
  font-size: 17px;	
}	

.navbar  .navbar-text .email-lbl {
  color: #084D36;
  font-family: 'Lato-Regular'; 
  font-size: 16px;
  margin-bottom:0;
}

.navbar  .navbar-text .email-add{
	color: #084D36;
  font-family: 'Lato-Bold'; 
  font-size: 14px;
}
	
.navbar-toggler:focus {
	box-shadow: unset;
}
  
  .navbar-custom  {	 
	  --bs-navbar-brand-padding-y: 0 !important;
	  --bs-navbar-padding-y: 0 !important;
	  background-color:#FDFDFD !important;
  }
	  
	#navbarText{
		align-items: unset;
	}	


.reeking-cartoon-space{
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}


.content-emailOpt-section .card-emilform{
	background:transparent;
	--bs-card-border-width: unset;
	width: 20rem;
}

 .content-lose-section .main-title {
	   display:inline; 
    white-space: pre-line; 
    position: relative;  
	left:0.5rem;
 }	 
 .content-lose-section .main-title span{
	font-family: 'Bungee-Regular';
	font-size: 3rem;
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
	background-clip: border-box;
	background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black; 
    line-height: 53px;
	letter-spacing: -3px;
	word-spacing:1px;
}

 .content-lose-section .sub-title  {
 font-family: 'Roboto-Bold';
  font-size: 1.375rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.1px;
  -webkit-text-stroke-color: black;
  text-shadow: -2px -1px black, -1px 1px #000,-1px -1px black, -1px -1px black;
  padding-top:2rem;
}


.content-emailOpt-section .main-title{	
	  font-family: 'Bungee-Regular';
	  font-size: 1.6rem;
	 background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
		background-clip: border-box;
	  background-clip: border-box;
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -webkit-text-stroke-width: 1.9px;
	  -webkit-text-stroke-color: black;
	  letter-spacing: -2px;
	  word-spacing: 3px;
	  position: relative;
		top: 1.5rem;
}
	  
.content-emailOpt-section .score-no{	  
	font-family: 'Bungee-Regular';
	font-size: 2.5rem;
	background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
	background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
	background-clip: border-box;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.9px;
	-webkit-text-stroke-color: black;
	line-height: 2rem;
	letter-spacing: -3px;
	position: relative;
	top: 1.6rem;
}
	  
.content-emailOpt-section .emailme-text {
  font-size: 1.6rem;
	-webkit-text-stroke-width: 1.2px;
  font-family: 'Bungee-Regular';
  background: linear-gradient(to right, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #ECBF7A, #EDB664);
	background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: black;
   letter-spacing: -2px;		   
	margin-top: 3.5rem;
	word-spacing: 1px;
   
}
		
.content-emailOpt-section .btn-emailopt, .content-play-manual .submitQRCode, .content-monthly-draw-result .submitQRCode {
	background-color: #0993d2; 
	--bs-btn-active-bg: #0993d2;
  --bs-btn-active-border-color: #0993d2;
  --bs-btn-border-color: #0993d2;
	padding: 0.5rem 2.5rem;
	font-family: 'Bungee-Regular';
	  font-size: 1.2rem;
	/*-webkit-background-clip: text;*/
	  -webkit-text-fill-color: white;
	  -webkit-text-stroke-width: 1.5px;
	  -webkit-text-stroke-color: black;
}

.content-emailOpt-section .disclaimer-title {
	font-family: 'Roboto-Regular';			 
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: white;
	 /*-webkit-text-stroke-width: 0.23px;*/
	  -webkit-text-stroke-width: 0.2px;
	 /* -webkit-text-stroke-color: black;*/
	  margin-top:2.8rem;
	  /*text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000;*/
	  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0.5px 0 #000, -1px 0 0 #000, 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000;
	  letter-spacing: 1px;  
	  color:#fff;
	}
	
	.content-emailOpt-section .disclaimer-lbl {
		position:relative;
		bottom: 0.5rem;
		 font-size: 0.89rem;
	}
	
	.content-emailOpt-section .disclaimer-lblNxt {
		 font-size: 1rem;
	}			
	
	.content-emailOpt-section .card-emilform {
		width: 27rem;
		margin-top: 0.1rem;
	}	
	
	.content-emailOpt-section{
		margin-bottom:3.5rem;
	}
	
	.content-emailOpt-section .emailText{
		color: #20201f;
		font-size: 15px;
		font-family: 'Roboto-Regular';
		padding: 0.8rem 0.75rem;				
	}


.navbar-text a, .navbar-text a:focus, .navbar-text a:hover {
  color: #084D36;
  font-family: 'Lato-Bold';
}

.email-add a {
	text-decoration:none;
	color: #084D36;
  font-family: 'Lato-Bold';
}

.skunk-lose-img{ 
  text-align:center;
  display:block; 
  margin-right: 2.5rem; 
  float:left;
} 


.skunk-win-img {
	text-align: center;
  display: block;
  margin-right: 2.5rem;
  float: left;
}

.navbar {
		width: 100%;
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: space-between;	  
	  	position: absolute;	
	  z-index: 1;	 	   
	  top: 0px;		  
	}
	
	.reeking-rich-img-large {
		width: 15rem;
	}
	
	.reeking-rich-img-small {
		display: none;
	}
	.skunk-lose-small {
		display: none;
	}
	
	.skunk-win-small {
		display: none;
	}
	
	.coin-img {
		display: none;
	}

	.content-scratch-section .small-img {
		display: none;
	}
	
.text-danger{
	font-size: 12px;
  font-family: 'Roboto-Regular';
  font-weight:bold;
}

.errorMsg{
	color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity)) !important;
}

.alert-msg .alert-success{ 
 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
	letter-spacing: -2px;
    word-spacing: 2px;
	border:unset;	
}

.alert-msg .alert-danger, .alert-msg-section .alert-danger{ 
 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
	letter-spacing: -2px;
    word-spacing: 2px;
	border:unset;	
}

.content-emailOpt-section .alert-msg .alert-danger{ 
 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
	letter-spacing: -2px;
    word-spacing: 2px;
	border:unset;	
}


.content-play-manual {
  padding-bottom: 3.5rem;
}

.content-monthly-draw-result {
  padding-bottom: 3.5rem;
}

.content-play-manual .main-title, .content-monthly-draw-result .main-title {
 white-space: pre-line;
}

 .content-play-manual .main-title span, .content-monthly-draw-result .main-title span {
    font-family: 'Bungee-Regular';
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
  background: -moz-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
    background-image: -moz-linear-gradient(rgb(239, 231, 218), rgb(248, 234, 211), rgb(243, 212, 163), rgb(222, 144, 25), rgb(222, 144, 25));
    background-clip: border-box;
  background: -o-linear-gradient(#EFE7DA, #F8EAD3, #F3D4A3, #DE9019, #DE9019);
  background-image: linear-gradient(180deg, #F9EAD4 38%, #E29C33 69%);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: black;
  line-height: 50px;
  letter-spacing: -3px;
  word-spacing: 1px;
  }
  
  
  .content-play-manual .emailText,  .content-monthly-draw-result .emailText {
  color: #20201f;
  font-size: 15px;
  font-family: 'Roboto-Regular';
  padding: 0.8rem 0.75rem;
}

::placeholder {
  color: #A6A6A5 !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #A6A6A5 !important;
}


.remove_link_colour, .remove_link_colour:hover, .remove_link_colour:focus, .remove_link_colou:active, .remove_link_colou:visited {
    text-decoration: none !important; 	
	color:#fff; !important;
}
 
 .content-monthly-draw-result .alert-success{
	 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
	letter-spacing: -2px;
    word-spacing: 2px;
	border:unset;
}

.content-monthly-draw-result .alert-danger{ 
 font-family: 'Bungee-Regular';
	font-size: 1.35rem;
	 -webkit-background-clip: text;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;	
	letter-spacing: -2px;
    word-spacing: 2px;
	border:unset;	
}

/*Media query css starts*/
/*New media css*/
/*@media (min-width: 1200px) {*/
/*@media only screen and (min-device-width: 1200px) {
	body{		
		align-items: center;
		justify-content: center;
		display: flex;
	}
	
	.page-container {
	   max-width:768px;
	}
	
	.navbar{	  
	  width: 768px;	  	  
	}
}*/

@media only screen and (min-device-width: 992px) {
	/*.container, .container-lg, .container-md, .container-sm {
		max-width: 768px;
	}*/
	
	.navbar-expand-lg .navbar-collapse {
		display: inline-block !important; 
		flex-basis: 100% !important; 
		flex-grow: 1;
	}
	
	.navbar .navbar-nav .nav-item .nav-link {
		padding: 1rem 0.8rem;
	}
	
	#navbarText {
		border-top: 1px solid #ccc;
		margin-top: 0.5rem;
	}
  
   .navbar .navbar-text .email-add {
		margin-bottom: 0.8rem !important;
		margin-left: 0.8rem;
		margin-top:1.2rem;
  }
  
   .navbar-toggler-icon {
    background-image: url("../images/custom_toggle_icon.png");
  }
  
   .navbar-toggler {
    border: transparent !important;
  }
  
    .navbar-custom {
		/*--bs-navbar-brand-padding-y: 0.3125rem !important;*/
		--bs-navbar-padding-y: 0.5rem !important;	
	
	}
	
	.collapse:not(.show) {
	  display: none !important;
	}
		
	  
	.navbar-expand-lg .navbar-toggler {
		display: block;
	}
	
	  
   .navbar-expand-lg .navbar-nav {    
		display: flex;
		flex-direction: column;
	}
	
	.navbar .navbar-nav .nav-item:not(:last-child) {
		border-bottom: 1px solid #CBCBCB;
		justify-content: flex-start !important;
	}	
  
}

@media only screen and (max-width: 991px) {
	#navbarText{
		border-top: 1px solid #ccc;
		margin-top: 0.5rem;
	}
	.navbar-toggler-icon {
		background-image: url("../images/custom_toggle_icon.png");
	}
	.navbar-toggler {
		border:transparent !important;
	}
	
	.navbar .navbar-nav .nav-item .nav-link{
			padding: 1rem 0.8rem;
	} 
	.navbar .navbar-nav .nav-item:not(:last-child)  {
		border-bottom: 1px solid #CBCBCB;
		justify-content: flex-start !important;
  }
  
    .navbar-custom  {	 
	  --bs-navbar-padding-y: 0.5rem !important;
  }
  
	.navbar  .navbar-text .email-add{	
		margin-bottom:0.8rem !important;	
		margin-left: 0.8rem;
		  margin-top:1.2rem;
	}
  
	.navbar-brand img {
		width: 9rem;
  }		
	
}


@media only screen and (min-width: 768px) {	
  
	  .navbar-brand img {
		  width: 10rem;
	  }
	  
	  .navbar-nav .nav-link, .navbar-nav .nav-link.active {
		  font-size:14px;
	  }

		.navbar .navbar-text .email-lbl, .navbar .navbar-text .email-add{
			 /*font-size:13px;*/
		}


		#footer p {
		  font-family: 'Bungee-Regular';
		  font-size: 1.3rem;
		  color: #084D36 !important;
		}

		#footer img {
			width: 8rem;	
		}

		 .background_bg {    	 
			background: url("../images/desktop_bg.png") center;
			background-repeat: no-repeat;		
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover; 
			background-size: 100% 100%;
		}
				
		.content-section .main-title{	
			 font-size: 3.3rem;
			 -webkit-text-stroke-width: 1.9px;
		}
		
		.content-section .sub-title{	
			 font-size: 1.8rem;
			 -webkit-text-stroke-width: 1.7px;
			 line-height:36px;
		}
		
		.content-scratch-section .main-title{	
			 font-size: 3.5rem;
			 -webkit-text-stroke-width: 2.3px;
		}
		
		.content-scratch-section .sub-title{	
			 font-size: 2rem;
			 -webkit-text-stroke-width: 1.8px;
		}	
		
		.content-won-section .sub-title {
			font-size: 1.375rem;
			 -webkit-text-stroke-width: 1.1px;
		}

		.content-scratch-section .large-img{
			width: 25rem;
		}

		.content-scratch-section {
		  padding-bottom: 7rem;
		}
		  
	  .content-won-section .chance-to-win-text, .content-lose-section .chance-to-win-text{	
		font-size: 1.3rem;
	}

	.content-won-section .monthly-draw-btn, .content-lose-section .monthly-draw-btn {
	   font-size: 1.3rem;
	  padding: 0.6rem 2.5rem;
	}
	
	
	.skunk-lose-large{
		width: 18rem;
	}
	
	 .content-lose-section .main-title span{	
		font-size: 4rem;
		-webkit-text-stroke-width: 2.8px;
		line-height: 65px;
	 }
	 
	 .content-lose-section .sub-title {
		 padding-top: 2.5rem;
	}	 
	 
	 .skunk-lose-img {
		 margin-right: 4rem;
	 }
	 
	 .play-btn-custom {	
		padding: 0.5rem 4rem;		
	} 

	.content-section .play-btn-custom {
		top: 3rem;
	}

	.play-btn-custom span {
		font-family: 'Bungee-Regular';
	  font-size: 2rem;
	}
	
	.content-won-section .skunk-win-large{
		width: 18rem;
	}
	
	.content-play-section .reeking-cartoon-space{
		padding-top: 2rem;
		padding-bottom: 0;
	}

	.content-emailOpt-section .alert-msg .alert-success {
		font-size: 1.8rem;
	}

	.content-emailOpt-section .alert-msg .alert-danger{
		font-size: 1.5rem;
	}	
	
}

@media (max-width: 767px) 
{
	.proceed-btn-custom span {
		font-size: 18px;
	}
	 .background_bg {      	 
	  background: url("../images/device_bg.jpg") center;
		background-repeat: no-repeat;	
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}

	.skunk-lose-large{
		width: 16rem;
	}
	
	 .content-lose-section .main-title span{	
		font-size: 3.5rem;
		  line-height: 58px;
	 }
	 
	.content-lose-section .sub-title {
		 padding-top: 2.3rem;
	 } 
	 .skunk-lose-img {
		 margin-right: 3.6rem;
	 }
	 
	 .play-btn-custom {	
		padding: 0.5rem 3.5rem;
	}  

	.play-btn-custom span {
		font-family: 'Bungee-Regular';
	  font-size: 1.8rem;
	}
	.content-scratch-section .small-img {
		display: block;
	}	
	
	.content-scratch-section .large-img {
		display:  none;
	}
	
	.content-won-section .skunk-win-large{
		width: 16rem;
	}

	.reeking-cartoon-space{
		padding-top: 2rem;
		padding-bottom: 0;
	}	
	
}

@media (max-width: 576px) {

.content-won-section .monthly-draw-btn{
		font-size: 1.25rem;
		padding: 0.6rem 2.2rem;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.25rem;
		
	}
	
	
	.content-lose-section .monthly-draw-btn{
		font-size: 1.25rem;
		padding: 0.6rem 2.2rem;
	}
	
	.content-lose-section .chance-to-win-text {
		font-size: 1.25rem;
		
	}
	
.background_bg {    	 
		background: url("../images/device_bg.jpg") center;	
		background-repeat: no-repeat;	
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}
	.content-scratch-section .main-title {
		
		padding-top:0rem;
	}
	
	.content-section {
		margin-bottom: 4rem;
	}
	
	.navbar-brand img {
		width: 7em;
	}
	
	.navbar-toggler-icon {    
		width: 1.6rem;
	}
	
	.reeking-rich-img-small {
		display: block;
		/*width: 8rem;*/
	}
	
	.reeking-rich-img-large {
		display:  none;
	}	

}

@media screen and (max-width: 470px) and (orientation:portrait) {
 .content-lose-section .monthly-draw-btn{
		word-spacing:1px;
	}
	.content-won-section .monthly-draw-btn {
		word-spacing:1px;
	 }
}

@media (max-width:470px) {	

	.skunk-lose-small {
		display: block;
		width: 8rem;
	}	
	
	.skunk-lose-large {
		display:  none;
	}

	 .content-lose-section .main-title {
		margin-top: -22px;
	}
			
	 .content-lose-section .main-title span{		
		  -webkit-text-stroke-width: 1.6px;
		font-size: 2.5rem;
		word-spacing: 2px;
		line-height: 44px;
	 }
	 
	 .skunk-lose-img { 
		margin-right: 2.5rem;
	 }
	 
	   .content-lose-section .sub-title {
		padding-top: 1.3rem;
	}
	 
	 .content-lose-section .monthly-draw-btn{
		font-size: 1.1rem;
		padding: 0.6rem 1.5rem;
	}
	
	  .content-lose-section .chance-to-win-text {
		font-size: 1.2rem;		
	}
	
	  .content-lose-section .sub-title {
		padding-top: 1.2rem;
		font-size: 1.2rem;
		-webkit-text-stroke-width: 0.5px;
	}	
	
	.content-play-manual .main-title span, .content-monthly-draw-result .main-title span {		
		font-size: 2rem;
		line-height: 44px;		
		-webkit-text-stroke-width: 1.6px;
	 }
	 
	.content-monthly-draw-result .main-title span {		
		font-size: 1.6rem;				
		-webkit-text-stroke-width: 1.2px;
	 }

	  .content-monthly-draw-result .main-title .lblLine1 {		
		 line-height: 3px;
	 }
	 
	 .content-monthly-draw-result .main-title .lblLine2 {		
		 line-height: 37px;
	 }
	 
	
	.reeking-rich-img-small {
		display: block;
		width: 8rem;
	}
	
	.reeking-rich-img-large {
		display:  none;
	}
	
	.content-won-section .main-title{
			margin-top: -22px;
	}
	
	.content-won-section .main-title span {
			-webkit-text-stroke-width: 1.6px;
			word-spacing: 2px;
	}
		
	.content-won-section .won-lbl {
		letter-spacing: -2px;		
		font-size: 2.6rem;
		line-height: 48px;
	}
	
	.content-won-section .money-symbol {
		font-size: 4.8rem;
		position: relative;
		top: 0.2rem;
	}
	
	.skunk-win-small {
		display: block;
		width: 8rem;
	}	
	
	.skunk-win-large {
		display:  none;
	}
	
	.content-won-section  .sub-title{	
		font-size: 1.2rem;	
		-webkit-text-stroke-width: 0.6px;
		top: -0.8rem;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.2rem;
		top: 0.5rem;
	}
	
	.content-won-section .monthly-draw-btn{
		font-size: 1rem;
		padding: 0.6rem 2rem;
		top: 0rem;
	}
	
	.content-won-section {
		margin-bottom: 1rem;
	}
	
	.content-scratch-section  .sub-title{	
		font-size: 20px;
		word-spacing: 1px;
		-webkit-text-stroke-width: 1.4px;
		margin-bottom:0px;
	}
	
	 .content-section .sub-title {
		 font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.2px;
	 }
	 
	.content-emailOpt-section .main-title{
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.3px;
		 top: 0rem;
	}
	
	.content-emailOpt-section .score-no{
		font-size: 1.8rem;
		-webkit-text-stroke-width: 1.4px;
		margin-top: -1.8rem;
	}

	.content-emailOpt-section .emailme-text {
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.4px;
		margin-top: 2.8rem;
		 letter-spacing: -2px;
	}
	
	.content-emailOpt-section .disclaimer-title {
		margin-top: 2rem;
		/*text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000;*/
	}
	
	.content-emailOpt-section .disclaimer-lbl {
		font-size: 0.83rem;
		-webkit-text-stroke-width: 0.1px;
	}

	.content-emailOpt-section .disclaimer-lblNxt {
		font-size: 0.93rem;
		-webkit-text-stroke-width: 0.1px;
	}
	
	.content-emailOpt-section {
		margin-bottom: 1.8rem;
	}
	
	.content-emailOpt-section .emailText{
		font-size: 15px;
	}

	.content-emailOpt-section .card-emilform {
		width: 22rem;
		margin-top: 0.1rem;
	}
	
	 .content-emailOpt-section .reeking-cartoon-space{
		padding-bottom: 0.2rem;
	}
	
	.content-emailOpt-section .alert-msg .alert-danger{
		font-size: 1.2rem;
	}

	.content-scratch-section .reeking-cartoon-space { 
		padding-bottom: 0rem !important;
	}			 
	
}


@media (max-width:390px) {
	.background_bg {    	 
		background: url("../images/device_bg.jpg") center;	
		background-repeat: no-repeat;	
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}	
	
	.content-won-section  .sub-title{	
		font-size: 1rem;	
		top: -0.8rem;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.2rem;
		top: 0.5rem;
	}
	
	.content-won-section .monthly-draw-btn{
		font-size: 1rem;
		padding: 0.6rem 2rem;
		top: 0rem;
	}
	
	.content-won-section {
		margin-bottom: 1rem;
	}	

	.content-emailOpt-section .reeking-rich-img-small {
		display: block;
		width: 7.6rem;
	}
	
	.content-emailOpt-section .main-title{
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.2px;
		 top: 0.23rem;
	}
	
	.content-emailOpt-section .score-no{
		font-size: 1.8rem;
		-webkit-text-stroke-width: 1.4px;
		top: 1.6rem;
	}

	.content-emailOpt-section .emailme-text {
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.4px;
		 margin-top: 2.8rem;
	}
	
	.content-emailOpt-section .emailText{
		font-size: 15px;
	}
	
	.content-emailOpt-section .disclaimer-title {
		margin-top: 2rem;
		/*text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000;*/
	}
	
	.content-emailOpt-section .disclaimer-lbl {
		font-size: 0.83rem;
		-webkit-text-stroke-width: 0.1px;
	}

	.content-emailOpt-section .disclaimer-lblNxt {
		font-size: 0.93rem;
		-webkit-text-stroke-width: 0.1px;
	}
	
	.content-emailOpt-section {
		margin-bottom: 1.6rem;
	}
	
	.content-emailOpt-section .reeking-cartoon-space{
		padding-bottom: 0.2rem;
	}
	.content-emailOpt-section .card-emilform {
		width: 22rem;
		margin-top: 0.1rem;
	}
	
 	.content-scratch-section  .main-title{
		font-size: 30px;
		word-spacing: 1px;
	}
	.content-scratch-section  .sub-title{	
		font-size: 19px;
		word-spacing: 2px;
		-webkit-text-stroke-width: 1.4px;
		margin-bottom:0px;
	}
	
	.play-btn-custom {	
		padding: 0.8rem 3.5rem;
	}  

	.play-btn-custom span {
		font-family: 'Bungee-Regular';
	  font-size: 23px;
	}
	.reeking-rich-img-small {
		display: block;
		width: 8rem;
	}	
	
	.reeking-rich-img-large {
		display:  none;
	}
	
	.skunk-lose-small {
		display: block;
		width: 8rem;
	}	
	
	.skunk-lose-large {
		display:  none;
	}
	
	.skunk-win-small {
		display: block;
		width: 8rem;
	}	
	
	.skunk-win-large {
		display:  none;
	}
	
	 .content-lose-section .main-title {
		margin-top: -22px;
	}
			
	 .content-lose-section .main-title span{		
		  -webkit-text-stroke-width: 1.6px;
		font-size: 2.5rem;
		word-spacing: 2px;
		line-height: 44px;
	 }
	 
	 .skunk-lose-img { 
		margin-right: 2.5rem;
	 }
	 
	   .content-lose-section .sub-title {
		padding-top: 1.3rem;
	}
	 
	 .content-lose-section .monthly-draw-btn{
		font-size: 1.1rem;
		padding: 0.6rem 1.5rem;
	}
	
	  .content-lose-section .chance-to-win-text {
		font-size: 1.2rem;
		
	}
	
	  .content-lose-section .sub-title {
		padding-top: 1.2rem;
		font-size: 1.2rem;
		-webkit-text-stroke-width: 0.5px;
	}
	 
	 .content-play-manual .main-title span {		
		font-size: 1.6rem;
		line-height: 36px;		
		-webkit-text-stroke-width: 1.4px;
		word-spacing: 1.4px;
	 }
	 
	  .content-monthly-draw-result .main-title span {		
		font-size: 1.8rem;				
		-webkit-text-stroke-width: 1.4px;
	 }
	 
	  .content-monthly-draw-result .main-title .lblLine1 {		
		 line-height: 3px;
	 }
	 
	 .content-monthly-draw-result .main-title .lblLine2 {		
		 line-height: 38px;
	 }	 
		 
	 .content-section .sub-title {
		 font-size: 1.1rem;
		 -webkit-text-stroke-width: 1.2px;
	 }	 
	
}

@media only screen and (max-width: 373px){

 .background_bg {    	 
		background: url("../images/device_bg.jpg") center;
		background-repeat: no-repeat;	
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover; 
		background-size: 100% 100%;
	}	
	
	.content-scratch-section .main-title{
		font-size: 29px;
	}
	.content-scratch-section .sub-title{
		font-size: 18px;
		word-spacing: 2.1px;
		-webkit-text-stroke-width: 1.4px;
		margin-bottom:0px;
	}
	
	.content-won-section{
	margin-bottom: 1rem;
	background: url("../images/confetti-sm.png") top center;
    background-repeat: repeat;
   background-repeat: no-repeat;
	padding-bottom: 3rem;	
}
	
	.content-won-section  .sub-title{	
		font-size: 1.2rem;	
		-webkit-text-stroke-width: 1.2px;
	}
	
	.content-won-section .chance-to-win-text {
		font-size: 1.2rem;
	}	
	
	.content-won-section .monthly-draw-btn{
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
	}
	
	.content-lose-section .monthly-draw-btn{
		font-size: 1.1rem;
		padding: 0.6rem 1rem;
	}
	
	.content-emailOpt-section .reeking-rich-img-small {
		display: block;
		width: 7.6rem;
	}
	.content-emailOpt-section .main-title{
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.2px;
		 top: 0.23rem;
	}
	
	.content-emailOpt-section .score-no{
		font-size: 1.8rem;
		-webkit-text-stroke-width: 1.4px;
		top: 1.6rem;
	}

	.content-emailOpt-section .emailme-text {
		font-size: 1.2rem;
		 -webkit-text-stroke-width: 1.4px;
		 margin-top: 2.8rem;
	}
	
	.content-emailOpt-section .emailText{
		font-size: 15px;
	}
	
	.content-emailOpt-section .disclaimer-title {
		margin-top: 2rem;
		/*text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000;*/
	}
	
	.content-emailOpt-section .disclaimer-lbl {
		font-size: 0.83rem;
		-webkit-text-stroke-width: 0.1px;
	}

	.content-emailOpt-section .disclaimer-lblNxt {
		font-size: 0.93rem;
		-webkit-text-stroke-width: 0.1px;
	}
	
	.content-emailOpt-section {
		margin-bottom: 1.6rem;
	}
	
	.content-emailOpt-section .reeking-cartoon-space{
		padding-bottom: 0rem;
	}
	
	.coin-img {
		display: block;
	}
	
	.coin-img-large {
		display: none;
	}
	
	.content-section .main-title {
		font-size: 2.1rem;
		-webkit-text-stroke-width: 1.4px;
	}
		
}


